.global-player {
  position: fixed;
  bottom: 20px;
  left: 260px; /* sidebar width */
  right: 20px;

  height: auto;
  padding: 18px 22px;

  background: rgba(84, 102, 92, 0.92);
  backdrop-filter: blur(16px);

  border-radius: 48px;
  box-shadow: 0 20px 60px rgba(173, 227, 8, 0.6);

  z-index: 9999;
}


/* Placeholder keeps layout safe */
.global-player.placeholder {
  height: 0;
}

/* LEFT */
.gp-left {
  display: flex;
  flex-direction: column;
}

.gp-title {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.gp-artist {
  font-size: 12px;
  color: #aaa;
}

/* CENTER */
.gp-center {
  display:flexbox;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  gap: 18px;
  margin-bottom: 6px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.controls button:hover {
  color: #1db954;
}

/* PROGRESS */
.progress-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.progress-row span {
  font-size: 11px;
  color: #aaa;
  min-width: 36px;
}

.progress-row input[type="range"] {
  flex: 1;
}

/* RIGHT */
.gp-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.gp-right input[type="range"] {
  width: 100px;
}
